name: Check for new versions
on:
  schedule:
    - cron: '0 0 * * 0-5'
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch to check out'
        default: 'main'
        required: false
        type: string

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  ocp-version:
    if: github.event_name != 'schedule' || github.repository == 'rh-ecosystem-edge/nvidia-ci' || vars.VERSION_UPDATE_FLOW_ENABLE_SCHEDULED == 'true'
    runs-on: ubuntu-latest
    steps:
      - name: Check out the Repo
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.branch || 'main' }}
          token: ${{ secrets.MAINTAINER_PERSONAL_ACCESS_TOKEN }}
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.13
      - name: Update OCP Version
        id: read_tests
        run: |
          pip install -r .github/scripts/gpu_operator_versions/requirements.txt
          mkdir -p $(dirname ${TEST_TO_TRIGGER_FILE_PATH})
          PYTHONPATH=.github/scripts python -m gpu_operator_versions.update_versions
          {
           echo 'TEST_TRIGGERS<<EOF'
           cat ${TEST_TO_TRIGGER_FILE_PATH}
           echo 'EOF'
          } >> $GITHUB_OUTPUT

        env:
          VERSION_FILE_PATH: ".github/scripts/gpu_operator_versions/versions.json"
          SETTINGS_FILE_PATH: ".github/scripts/gpu_operator_versions/settings.json"
          TEST_TO_TRIGGER_FILE_PATH: ".github/scripts/generated-files/tests_to_trigger.txt"
          CHECK_CATALOG_AVAILABILITY: "true"
      - name: Create Pull Request
        id: create-pr
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.MAINTAINER_PERSONAL_ACCESS_TOKEN }}
          title: "[Automatic] Update versions, run ID: ${{ github.run_id }}"
          commit-message: Update versions
          branch: update-versions/${{ github.run_id }}
          body: |
            :warning: Before approving the PR, run the following tests:

            ```
            ${{ steps.read_tests.outputs.TEST_TRIGGERS }}
            /ok-to-test
            /approve
            ```

            Update the NVIDIA GPU operator on OpenShift test matrix
            ---
            ${{ vars.VERSION_UPDATE_FLOW_NOTIFY_USERS }}
          delete-branch: true
          assignees: ${{ vars.VERSION_UPDATE_FLOW_ASSIGNEES }}

      - name: Comment test images on PR
        if: steps.create-pr.outputs.pull-request-number
        env:
          GH_TOKEN: ${{ secrets.MAINTAINER_PERSONAL_ACCESS_TOKEN }}
        run: |
          gh pr comment ${{ steps.create-pr.outputs.pull-request-number }} --body "/test images"

      - name: Notify on failure
        if: failure()
        uses: ./.github/actions/notify-failure
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          help-file: .github/workflows/update-versions-help.md

